html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: auto;
}

a {
  color: #ffa000 !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-title,
.sign-up-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-background {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-items: center;
}
.card-frame {
  padding: 20px;
  border: 6px solid #ffa000;
  border-radius: 5%;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30%;
  margin: 30px auto 0 auto;
}

.action-btn {
  background-color: #ffa000 !important;
  border-width: 0 !important;
}

.action-btn:hover {
  background-color: #dc8b00 !important;
}
